.home{
    text-align: center;
    background-color: crimson;
    display: block;
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}